<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script>
        $( function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
            $( "#sortableS" ).sortable();
            $( "#sortableS" ).disableSelection();
            $( "#sortableG" ).sortable();
            $( "#sortableG" ).disableSelection();
        } );
    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- load fontawesome -->


</head>

<% if(user.facebook.name){ %>
    <h3 class="text-primary"><span class="fab fa-facebook"></span> Facebook</h3>
    <img src="<%= user.facebook.profilePicture %>"/>
    <p>Bienvenue <%= user.facebook.name %> </p>
<% } %>

<% if(user.twitter.username){ %>
    <h3 class="text-info"><span class="fab fa-twitter"></span> Twitter</h3>
    <a href="<%= user.twitter.profile %>" target="_blank"><img src="<%= user.twitter.profilePicture %>"/></a>
    <p><span>Bienvenue</span> <%= user.twitter.username %> <br>
        <a href="<%= user.twitter.profile %>" target="_blank">Votre profil Twitter</a><br>
        <span>Vous avez :</span> <%= user.twitter.followers_count %> <span> followers</span><br>
        <span>Vous suivez :</span> <%= user.twitter.friends_count %> <span> personnes</span></p>
<% } %>

<% if(user.google.name){ %>
    <h3 class="text-danger"><span class="fab fa-google"></span> Google</h3>
    <a href="<%= user.google.profile %>" target="_blank"><img src="<%= user.google.profilePicture %>"/></a>
    <span>Bienvenue</span> <%= user.google.name %> <br>
    <p><a href="<%= user.google.profile %>" target="_blank">Votre profil Google</a></p>

<% } %>

<body onload="cache()">
<div class="page-header text-center">
    <h1><span class="fa fa-tachometer"></span> Dashboard</h1>
    <a href="/dashboard/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="meteo" id="meteo">
    <ul id="sortable">

        <h4>Météo</h4>

        <form action="/dashboard/currentMeteo" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Get Weather" id="print">
        </form>

        <button class="btn btn-primary" id="Current">Current meteo</button>
        <button class="btn btn-primary" id="5days">5 days</button>


        <li>
            <div class="container" id="current_meteo">
                <% if(weather !== null){ %>
                    <%for (var result in weather){%>
                        <p><%=weather[result]%></p>
                    <%}%>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </li>

        <li>
            <div class="container" id="meteoWeek">
                <% if(weatherWeek !== null){ %>
                    <%for (var result in weatherWeek){%>
                        <p><%=weatherWeek[result]%></p>
                    <% } %>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </li>
    </ul>

    <script>
        $('#5days').click(function(){
            $('#meteoWeek').toggle();
        });
        $('#Current').click(function(){
            $('#current_meteo').toggle();
        });
    </script>
</div>


<div class="youtube" id="youtube">
    <ul id="sortable">
        <h4>Youtube</h4>

        <form action="/dashboard/youtube" method="post">
            <input name="search" type="text" class="ghost-input" placeholder="Recherche" required>
            <input type="submit" class="ghost-button" class="icone-loupe">
        </form>
                <% if(youtubeVideo !== null){ %>
            <iframe width="420" height="315"
                    src=" <%= youtubeVideo[0] %>">
            </iframe>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
    </ul>
</div>

<div class="steam" id="steam">
    <ul id="sortableS">
        <h4>Steam</h4>

        <form action="/dashboard/InfoSteam" method="post">
            <input name="id" type="text" class="ghost-input" placeholder="Enter ID player" required>
            <input type="submit" class="ghost-button" value="Get ID player">
        </form>

        <button class="btn btn-primary" id="gamelist">Last Game played</button>
        <button class="btn btn-primary" id="profile">Profile</button>
        <button class="btn btn-primary" id="Friendslist">Links ID friends</button>

        <li>
            <div class="container" id="SteamInfo">
                <% if(steamInfo !== null){ %>
                    <img src=<%=steamInfo[0]%> alt="photo" />
                    <p> <a href=<%=steamInfo[3]%>><%=steamInfo[1]%></a>  is <%=steamInfo[2]%></p>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </li>

        <li>
            <div class="container" id="gameList">
                <% if(GameList !== null){ %>
                <%for (var result in GameList){%>
                <p><%=GameList[result]%></p>
                <% } %>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </li>
<!-- https://steamcommunity.com/profiles/76561198068118015/ -->

        <li>
            <div class="container" id="friendsList" style="overflow-y: scroll; height:200px;">
                <% if(FriendsList !== null){ %>
                    <%for (var result in FriendsList){%>
                        <p><a href="https://steamcommunity.com/profiles/<%=FriendsList[result]%>/"><%=FriendsList[result]%></a></p>
                <% } %>
                <% } %>
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </li>
    </ul>

    <script>
        $('#profile').click(function(){
            $('#SteamInfo').toggle();
        });
        $('#gamelist').click(function(){
            $('#gameList').toggle();
        });
        $('#Friendslist').click(function(){
            $('#friendsList').toggle();
        });
    </script>


</div>
<script>
    function cache() {
        $('#meteoWeek').toggle();
        $('#current_meteo').toggle();
        $('#SteamInfo').toggle();
        $('#gameList').toggle();
        $('#friendsList').toggle();
    }
</script>
</body>
</html>
